.primary{
    background-color: #008080;
    color: red;
    font-family: Arial;
    text-align: center;
    }
    .secondary{
    background-color: #008080;
    color: yellow;
    font-family: Arial;
    text-align: center;
}